<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-4">
      <h3>Sign in to Notely</h3>
      <form id="sign_in" ng-submit="ctrl.login()">
        <p>
          <label for="username">Username</label><br>
          <input type="text" name="username" ng-model="ctrl.user.username" required>
        </p>
        <p>
          <label for="password">Password</label><br>
          <input type="password" name="password" ng-model="ctrl.user.password" required>
        </p>
        <input type="submit" name="commit" value="Sign In" class="btn btn-default">
        <span class="signin">
          Need an account?
          <a ng-click="ctrl.signUp()">Sign up.</a>
        </span>
      </form>
    </div>
  </div>
</div>